<h2>Flat details</h2>

<h3><%= @flat.name %></h5>
<h4><%= @flat.address %></h4>
<h5><%= @flat.description %></h5>
<h5><%= @flat.price_per_night %></h5>
<h5><%= @flat.number_of_guests %></h5>
<%= link_to 'Back', flats_path, class: "btn btn-primary" %>